<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
</head>
<body>
    <h1 class="refresh-timer"></h1>
    <h1 class="refresh-timer">Actions</h1>
    <div class="cards-list">
        <!-- HOLDER for all cards -->
    </div>

    <script>
        const REFRESH_TIME = 15 // in millisecond
        const timer = document.querySelector('.refresh-timer')
        const cardsHolder = document.querySelector('.cards-list')

        var wait = 0

        function updateCardsList(params) {
            fetch("/webhook/fetchActions").then(val=>val.text()).then(val=>{
                cardsHolder.innerHTML = val
            })

        }
        updateCardsList()
        
        setInterval(()=>{
            timer.innerText = `Refresh in: ${15-wait}`
            timer.classList.add('refresh-timer')
            if (wait >= REFRESH_TIME){
                updateCardsList()
                wait = 0
            }
            wait += 1
        }, 1000)
    </script>
</body>
</html>